


#botonmenu {
  width: 140px;
  color: #000;
  background-color: hsla(32, 86%, 49%, 0.904);
  border-color: #cfc9b3;
  margin-left: 8%;
  font-weight: 640;
  line-height: 1.8;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid white;
  padding: 2.3px 30px;
  font-size: 1rem;
  border-radius: .60rem;
  
}


body {

  background: url(../img/Imagen3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}